body {
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  color: #3B7EA1;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #C4820E;
}

a:focus,
a:hover {
  color: #C4820E;
}



  a {
    color: #C4820E;
  }

  a:focus,
  a:hover {
    color: #3B7EA1;
  }
}

div#bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

div.biotext {
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  padding: 10px;
}

/* Modified image style - square */
img.bioimage {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 0%; /* Changed from 50% */
  max-width: 35%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

div.section {
  padding: 10px 20px 10px 20px;
}

div.content {
  padding: 0px;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: min(5vw, 30px);
}

/* h2 {
  font-weight: normal;
} */

h3.foldable {
  display: inline;
}

span.paper
